    .gridbox-header {
        grid-area: header;
    }

    .gridbox-main {
        grid-area: main;
    }

    .gridbox-footer {
        grid-area: footer;
    }

    .gridbox {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:    "header"
                                "main"
                                "footer";
    }


    @media (min-width:768px){
        .gridbox{
            grid-template-columns: 1fr 4fr 1fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas:    "header header header"
                                    "main main main"
                                    "footer footer footer";
        }

        .gridbox-banner {
            display: block;
        }
    }

    /* МОЙ КОД */

    header > div {
        font-size: 60px;
    }
    
    
    .header_main {
        background-color: rgb(45, 45, 45);
    }
    
    .gray {
        color: rgb(130, 130, 130);
    }
    
    .gray:hover {
        color: white;
    }
    
    .gray_black {
        color: gray;
        border-right: 1px solid gray;
    }

    .gray_black:last-child {
        border-right:none ;
    }
    
    .gray_black:hover {
        color: black;
        transition: 0.5s;
    }
    
    .photo_main {
        background-image: url(https://images.unsplash.com/photo-1591874128553-8748ccf0956f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
    }
    
    .card {
        border: none;
    }
    
    .gridbox {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        padding-top: 15px;

    }
    
    .btn {
    
        border-radius: 0px;
    }
    
    .photo_1 {
        background-image: url(https://images.unsplash.com/photo-1603322251141-d39368c05800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size: cover;
    
    }
    
    .photo_2 {
        background-image: url(https://images.unsplash.com/photo-1603322251141-d39368c05800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size: cover;
        
    }
    
    .photo_3 {
        background-image: url(https://images.unsplash.com/photo-1603322251141-d39368c05800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size: cover;
    }
    
    .box_photo {
        height: 30vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        background-color:none;
    }
    
    div > a:hover {
        color: white;
    }
    
    div > a:not(:hover) {
        color: white;
        text-decoration: none;
    }
    
    h5 {
        text-align: center;
    }
    
    .grid_footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 20px;
    }

    footer > div > div:nth-child(1) {
        opacity: 20%;
        border-right:solid 1px black ;
        text-align: center;
    }

    footer > div > div:nth-child(2) {
        border-right:solid 1px gray ;
        text-align: center;
    }
    

